<!DOCTYPE html>

{% load static %}

<html>

    <head>

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>HomePage</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="screen" href="{% static 'event_group/event_group.css' %}"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.21/vue.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios@0.18.0/dist/axios.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
        

    </head>




    <body>

        <div id="main">

            <div id="fixed_menu">

                <a id="sign_fm" href="#">
                    پروفایل
                </a>

                <a id="exit_fm" href="{% url 'registeration:logout' %}">
                    خروج
                </a>

                <img id="logo_fm" src="{% static 'event_group/photo1.jpg' %}">
        
            </div>

            <div id="content">
                <div id="three_steps" style="margin-bottom: 20px;">


                    <div class="ui three top attached mini steps">

                        <div class="step">

                            <i class="pencil alternate icon" id="i1"></i>

                            <div class="content">

                                <div class="title" id="t1">ثبت نام</div>

                            </div>

                        </div>
        
                        <div class="disabled step">

                            <i class="map signs icon" id="i2"></i>

                            <div class="content">

                                <div class="title" id="t2">انتخاب رویداد</div>

                            </div>

                        </div>
        
                        <div class="active step">

                            <i class="payment icon"></i>

                            <div class="content">

                                <div class="title" id="t3">دریافت بلیط</div>

                            </div>

                        </div>
        
                    </div>


                </div>
                {% if payment_error %}
                <div class="ui message error" style="width: 60%; text-align: right; margin: 10px auto;">
                    {{ payment_error }}
                </div>
                {% endif %}
                {% if payment_success %}
                <div class="ui message" style="width: 60%; text-align: right; margin: 10px auto;">
                    با موفقیت پرداخت شد
                </div>
                {% endif %}
                
                <div id="topdf" style="font-family: Yekan; text-align: center; display: flex; width: 65%; min-width: 400px; margin: 30px auto 0px auto; border: 1px solid black">
                        <div style="width: 100%; text-align: center">
                            <img style="width: 300px; margin: auto;" src="{% static 'event_group/photo1.jpg' %}">
                            <div style="font-weight: 700; color: rgb(223, 5, 5); width: 100%; margin-top: 4px; font-size: 22px;">
                                رویداد آموزشی گردشگری ورودی چین
                            </div>

                            <div dir="rtl" style="direction: rtl; line-height: 25px; text-align: right; margin: 10px 30px 10px 50px;">
                                <span style="font-weight: 700;">کد بلیط</span> {{ ticket_data.refid }}
                                <br />
                                <span style="font-weight: 700;">نام و نام خانوادگی</span> {{ ticket_data.person.first_name }} {{ ticket_data.person.last_name }}
                                <br />
                                <span style="font-weight: 700;">کد ملی</span> {{ ticket_data.person.national_id }}
                                <br />
                                <span style="font-weight: 700;">تاریخ رویداد</span>
                                <br />
                                {{ ticket_data.event.date }}
                                <br />
                                <span style="font-weight: 700;">زمان بندی برگزاری رویداد</span>
                                <br />
                                {{ ticket_data.event.time }}
                                <br />
                                <span style="font-weight: 700;">آدرس</span>
                                <br />
                                {{ ticket_data.event.address }}
                                <br />
                                <span style="font-weight: 700;">توضیحات</span>
                                <br />
                                _ لطفا در ساعت مقرر در محل رویداد حضور داشته باشید<br />
_امکان استفاده از پارکینگ پردیس بین الملل دانشگاه شیراز برای شما عزیزان فراهم شده است<br />
_ گواهی حضور در دوره به مدت دو هفته پس از پایان این رویداد از محل دفتر مرکز آموزش های آزاد و تخصصی واقع در پردیس بین الملل دانشگاه شیراز قایل دریافت می باشد
                            </div>
                            
                            <div style="display: flex; flex-wrap: wrap; width: 60%; margin: auto;">
                                {% for logo in ticket_data.logos %}
                                    <img style="margin: 10px auto; width: 80px;" src="{{ logo }}">
                                {% endfor %}
                            </div>
                        </div>
                    
                </div>
                <div style="width: 100%; text-align: center;">

                        <button id="getpdf" class="ui primary button" style="width: 300px; margin: 10px auto;">
                            دانلود بلیط
                        </button>
                </div>
            </div>
        </div>
        <script src="https://raw.githack.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>
        <script>
            $(document).ready(function(){
                $('#getpdf').click(function(){
                    var source = window.document.getElementById("topdf");
                    html2pdf(source);
                })
            })
        </script>

    </body>




</html>