
<head>
  <title>Register page</title>
</head>
<body>
<p>Register page</p>
<form action="{% url 'registeration:register' %}" method="post">
{% csrf_token %}
<p>first name</p><input type="text" name="first_name" value="">
<p>last name</p><input type="text" name="last_name" value="">
<p>national id</p><input type="number" name="national_id" value="">
<p>phone number</p><input type="number" name="phone_number" value="">
<p>email</p><input type="email" name="email" value="">
<p>detail type</p><input type="numer" name="detail_type" value="">
<p>guide id</p><input type="text" name="guide_id" value="">
<p>university</p><input type="text" name="university" value="">
<p>study field</p><input type="text" name="study_field" value="">
<p>student_id</p><input type="number" name="student_id" value="">
<p>agency</p><input type="text" name="agency" value="">
<p>city</p><input type="text" name="city" value="">
<p>hotel</p><input type="text" name="hotel" value="">
<input type="submit" value="submit">
</form>
</body>
