{% load static %}
<!DOCTYPE html>
<html>

    <head>

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>HomePage</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="screen" href="{% static 'registeration/show_off.css' %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


    </head>

    <body onload="checkdevice()">

        <div id="main_header">

            <h1 id="main_header1">رویداد بین المللی گردشگری ورودی چین</h1>

        </div>

        <div id="fixed_menu">
            <a id="home_fm" href="{% url 'registeration:home' %}">
                خانه
            </a>
            <a id="sign_fm" href="{% url 'registeration:register' %}">
                ثبت نام
            </a>
            <a id="login_fm" href="{% url 'registeration:login' %}">
                ورود
            </a>
            <img id="logo_fm" src="{% static 'registeration/photo1.jpg' %}">
        </div>

        <div id="content">

            <div class="ui piled segment" id="about_event">

                <h2 id="h_about_event">
                    درباره ی رویداد :
                </h2>

                <br>

                توسعه گردشگری ورودی  به عنوان
                یکی از پتانسیل های های اصلی هرکشور ی در راه  ایجاد رونق اقتصادی و اشتغال و افزایش سطح درآمد ملی تلقی می شود. حال آن که
                توسعه ی این بخش از صنعت با چالش های متعددی روبه روست. یکی از چالش های موجود ، کم توجهی به امر اموزش و تربیت نیروهای متخصص
                فعال در صنعت می باشد. در سال های  اخیر کشور چین به عنوان یکی از بازار های بزرگ و بالقوه برای جذب گردشگران ورودی، مورد توجه
                بسیاری از کشور های اروپایی و آسیایی قرا گرفته است.طبق  آمار و داده های جدید از سازمان جهانی گردشگری ،در سال 2018، کشور چین
                با 160 ملیون گردشگر خروجی همچنان به عنوان بزرگترین کشور گردشگر فرست دنیا شناخته می شود. باتوجه به عزم جدی سازمان محترم میراث
                فرهنگی و گردشگری ایران و هدف گزاری جذب دوملیون گردشگر از کشور چین و انجام اقداماتی نظیر حذف ویزا برای گردشگران چینی ، اهمیت آموزش
                برای فعالان گردشگری که قصد فعالیت در بازار گردشگری ورودی چین را دارند بیش از پیش جلوه گر می شود. بدین جهت رویداد آموزشی گردشگری
                ورودی چین، با هدف اطلاع رسانی از ظرفیت ها و راهکار های موجود برای جذب گردشگران چینی و آموزش فعالان گردشگری کشور برگزار خواهد شد.


            </div>

            <div id="location">
                <h2 id="h_location">برگزار کننده :</h2>

                <br>
                <br>
                <br>

                <div class="ui card" id="location_content">

                    <div class="image">

                        <img id="location_img" src="{% static 'registeration/p1.jpg' %}">

                    </div>

                    <div class="content">

                        <div class="description" id="location_description">
                            مرکز آموزش های تخصصی دانشگاه شیراز
                        </div>

                    </div>

                </div>

                <br>
                <div class="ui divider"></div>

                <div id="address">

                    : آدرس
                    <i class="map marker alternate icon" id="i1"></i>
                    <br>

                    <div id="address_span">
                        شیراز – خیابان قصرالدشت – نبش خیابان قم آباد - جنب دانشکده دندانپزشکی
                    </div>

                </div>

                <br>
                <div class="ui divider"></div>

                <div id="phone_number">

                    : شماره تلفن مرکز
                    &nbsp
                    <i class="phone icon" id="i2"></i></i>
                    <br>

                    <div id="phone_span">
                        ۳۶۲۹۳۴۱۱ (۰۷۱) <br> ۳۶۲۹۳۸۲۶ (۰۷۱) <br> ۳۶۲۹۳۸۲۵ (۰۷۱)
                    </div>

                </div>

                <br>
                <div class="ui divider"></div>

                <div id="fax">

                    : فاکس
                    &nbsp
                    <i class="fax icon" id="i3"></i></i>
                    <br>

                    <div id="fax_span">
                        ۳۶۲۹۳۲۴۶ (۰۷۱)
                    </div>

                </div>


            </div>

            <div class="ui piled segment" id="speecher">

                <h2 id="h_speecher">
                    سخنران اصلی رویداد :
                </h2>

                <br>

                <img class="ui centered medium image" id="speecher_img" src="{% static 'registeration/p1.jpg' %}">
                <br>

                پروفسور <span id="span_speecher1">Dr. Wolfgang Georg Arlt FRGS FRAS</span> &nbsp موسس مجموعه تحقیقاتی <span id="span_speecher2">COTRI</span>  و همچنین استاد گردشگری بسیاری از دانشگاه های مطرح دنیاست. تجربیات کاری و اکادمیک وی از صنعت گردشگری چین به بیش از چهار دهه می رسد.
                خلاصه ای از رزومه آکادمیک و حرفه ای :

                <br>


                <div id="speecher_list">

                    <i class="circle icon" id="i4"></i>
                    دانش آموخته مقطع پی. اچ. دی در رشته های چین شناسی فرهنگ چین <span id="span_speecher3">(sinology)</span> و علوم سیاسی
                    <br>

                    <i class="circle icon" id="i5"></i>
                    استاد رشته های گردشگری و مهمان نوازی در دانشگاه های :
                    <br>

                    <div id="span_i5">
                        hong kong polytechnic university<i class="angle right icon" id="i6"></i>
                        <br>
                        Fachhochschule Stralsund<i class="angle right icon" id="i7"></i>
                        <br>
                        west coast university<i class="angle right icon" id="i8"></i>
                        <br>
                        Fachhochschule Westküste<i class="angle right icon" id="i9"></i>
                        <br>
                    </div>

                    <i class="circle icon" id="i10"></i>
                    موسس و مدیر موسسه تحقیقاتی <span id="span_speecher4">COTRI</span> از سال <span id="year">2004</span> تا اکنون
                    <br>

                    <i class="circle icon" id="i11"></i>
                    عضو رسمی  هییت کارشناسان سازمان جهانی گردشگری <span id="span_speecher5">UNWTO</span>
                    <br>


                </div>

                لینک  پروفایل لینکدین پروفسور برای اطلاعات بیشتر :
                <a title="Linkedin" href="https://www.linkedin.com/in/prof-dr-wolfgang-g-arlt-2536704" target="blank">
                    <i class="linkedin icon" id="i12"></i>
                </a>

            </div>



            <div class="ui piled segment" id="caption">

                <h2 id="h_caption">
                    سرفصل ها و محتوای رویداد :
                </h2>

                <br>

                <span id="time1">جلسه صبح&nbsp (9 الی 12) &nbsp:</span>

                <br>
                <br>

                <i class="angle double left icon" id="i13"></i>
                ارایه گزارش وبررسی  آمار و ارقام گردشگری خروجی چین


                <span id="table_span1">
                    <div class="ui divider"></div>
                    <i class="angle double left icon" id="i14"></i>
                    معرفی روند های تازه ی گردشگری در جهان و گردشگری چین
                    <div class="ui divider"></div>
                </span>

                <i class="angle double left icon" id="i15"></i>
                چین، بازاری بالقوه برای گردشگری ایران


                <span id="table_span2">
                    <div class="ui divider"></div>
                    <i class="angle double left icon" id="i16"></i>
                    بررسی  ظرفیت ها و فرصت های ایران به عنوان مقصدی متفاوت برای گردشگران چینی
                    <div class="ui divider"></div>
                </span>

                <i class="angle double left icon" id="i17"></i>
                ارائه  پیشنهادات و راهبرد های توسعه و تهیه برنامه های عملیاتی
                <br>
                <br>






                <span id="time2">ورکشاپ عصر&nbsp (14 الی 17) &nbsp:</span>

                <br>
                <br>

                <i class="angle double left icon" id="i18"></i>
                آشنایی با<span id="span1_time2"> (CHINA TOURISM TRAINING (CTT</span>


                <span id="table_span3">
                    <div class="ui divider"></div>
                    <i class="angle double left icon" id="i19"></i>
                    زمینه های فرهنگی و تاریخی گردشگران چینی
                    <div class="ui divider"></div>
                </span>

                <i class="angle double left icon" id="i20"></i>
                چگونگی انتقال حس خوش امد و مهمان نوازی به گردشگران چینی


                <span id="table_span4">
                    <div class="ui divider"></div>
                    <i class="angle double left icon" id="i21"></i>
                    بخش های بازار گردشگری در چین و ارتباط با ایران
                    <div class="ui divider"></div>
                </span>

                <i class="angle double left icon" id="i22"></i>
                کانال های ارتباطی فعالان گردشگری ایران با  گردشگران چینی


                <span id="table_span5">
                    <div class="ui divider"></div>
                    <i class="angle double left icon" id="i23"></i>
                    کانال های توزیع محصولات و خدمات گردشگری : آژانس های مسافرتی آنلاین چینی<span id="span2_time2"> (Chinese OTAs) </span>، تور اپراتور ها و انجمن های وابسته
                    <div class="ui divider"></div>
                </span>

                <i class="angle double left icon" id="i24"></i>
                تغییر و منطبق سازی محصولات و خدمات گردشگری کشور مقصد با سلیقه گردشگران چینی / معرفی تجربیات موفق دیگر کشورها


                <span id="table_span6">
                    <div class="ui divider"></div>
                    <i class="angle double left icon" id="i25"></i>
                    چطور خود را آماده کنیم و چطور موفق شویم؟
                    <div class="ui divider"></div>
                </span>


            </div>






            <div class="ui piled segment" id="audience">

                <h2 id="h_audience">
                    <i class="users icon" id="i26"></i>
                    &nbsp
                    مخاطبان دوره :
                </h2>

                <br>

                <i class="user icon" id="i26"></i>
                &nbsp
                فعالان صنعت گردشگری ایران
                <br>
                ( راهنمایان تور، تور اپراتور ها و کارمند
                های دفاتر خدمات مسافرتی، کارکنان هتل ها و واحد های اقامتی)
                <br>

                <i class="user icon" id="i27"></i>
                &nbsp
                دانشجویان گردشگری و هتلداری
                <br>

                <i class="user icon" id="i28"></i>
                &nbsp
                علاقه مندان به صنعت گردشگری و مهمان نوازی


            </div>

        </div>

    </body>

</html>
